<h1>My Dashboard</h1>

<h2>My organisations: <%= @organisation.name %> </h2>

<%= link_to "Créer un surfCamp",  new_organisation_camp_path(@organisation) %>

  <ul><% @organisation.camps.each do |camp| %>
    <li><%= camp.title %> <%= link_to "Créer un slot de réservation", new_organisation_camp_slot_path(@organisation, camp) %></li>
    <ul><% camp.slots.each do |slot| %>
     <li><%= slot.price %></li>
      <% end %>
    </ul>
    <% end %>
  </ul>




